<launch>
	<rosparam file="$(find iai_seminar_manipulation_controllers)/config/pr2_multi_joint_position_controllers.yaml" ns="" command="load" />
	
	<node name="l_arm_iai_joint_position_controller"
		pkg="pr2_controller_manager"
		type="spawner"
		args="--stopped l_arm_iai_joint_position_controller" />

	<node name="r_arm_iai_joint_position_controller"
		pkg="pr2_controller_manager"
		type="spawner"
		args="--stopped r_arm_iai_joint_position_controller" />
</launch>
